:root {
  --font1: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --font2: StarJedi, Courier, monospace;
}
@font-face {
  font-family: StarJedi;
  src: url("STJEDISE.TTF");
}
header {
  color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 15vh;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.106);
  background: linear-gradient(rgb(57, 29, 29) 20%, black) top/ 100% 75%
    no-repeat;
  text-align: center;
}

h1 {
  font-family: var(--font2);
  text-shadow: 1px 1px 8px gold;
  font-size: 3em;
  margin-top: 1%;
}
body {
  margin-top: 20vh;
  background-color: black;
  background-attachment: fixed;
}
main {
  display: grid;
  grid-template-columns: 20% 40%;
  grid-template-rows: 50% 50%;
  justify-content: center;
}
section {
  height: 70vh;
  border: 2px solid black;
  box-sizing: border-box;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(74, 74, 74, 0.607);
  color: white;
}
.details {
  display: grid;
  grid-template-rows: 10% 45% 45%;
  left: 50%;
  width: 90%;
}
.char-list ul {
  margin: 0;
  padding: 0;
}
.char-list li {
  list-style-type: none;
  text-align: center;
  margin: 0.8rem;
  padding: 0.2rem;
  font-size: 1rem;
  font-family: var(--font1);
}
.char-detail {
  background-color: rgba(0, 0, 0, 0.438);
}
.planet-detail {
  background-color: rgba(8, 8, 49, 0.283);
}
.char-list .active {
  background-color: gold;
  width: 105%;
  text-align: center;
  color: black;
  border-radius: 20px;
  box-shadow: rgba(202, 202, 202, 0.12) 0px -12px 30px,
    rgba(211, 211, 211, 0.12) 0px 4px 6px,
    rgba(224, 224, 224, 0.17) 0px 12px 13px,
    rgba(218, 218, 218, 0.09) 0px -3px 5px;
}
button {
  background-color: gold;
  font-family: var(--font2);
  padding: 0px 15px;
  margin: 10px;
  border-radius: 25px 0px;
  float: right;
}
.loader {
  width: fit-content;
  font-size: 17px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  background: linear-gradient(#000 0 0) left, linear-gradient(#000 0 0) right;
  background-repeat: no-repeat;
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}
.loader::before {
  content: "Loading";
}
.loader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background: linear-gradient(90deg, #000 4px, #0000 0 calc(100% - 4px), #000 0)
      bottom / 22px 20px,
    linear-gradient(90deg, red 4px, #0000 0 calc(100% - 4px), red 0) bottom 10px
      left 0/22px 6px,
    linear-gradient(#000 0 0) bottom 3px left 0 /22px 8px,
    linear-gradient(#000 0 0) bottom 0 left 50%/8px 16px;
  background-repeat: no-repeat;
  animation: l9-1 2s infinite;
}
@keyframes l9-0 {
  0%,
  25% {
    background-size: 50% 100%;
  }
  25.1%,
  75% {
    background-size: 0 0, 50% 100%;
  }
  75.1%,
  100% {
    background-size: 0 0, 0 0;
  }
}
@keyframes l9-1 {
  25% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  25.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  50% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
}
